<!DOCTYPE html>
    <html>
        <head>
            <title>Friends</title>
            <link rel="stylesheet" href="css/styles.css">
            <meta charset="utf-8">
            <script defer src="js/friends.js"></script>
            <script src="https://code.jquery.com/jquery.js"></script>
            <script src="/js/bootstrap.min.js"></script>
        </head>
        <body>
            <header>    
                <div class="menu-button">
                    <div class="menu-button-burger"></div>
                </div>
                <nav>
                    <div class="openMenu"></div>
                    <div class="menu-background">
                        <ul class="menu">
                            <li><a href="index">Dashboard</a></li>
                            <li><a href="addtask">Add Task</a></li>
                            <li><a href="friends">Friends</a></li>
                            <!--<li><a href="settings">Settings</a></li>
                            <li><a href="about">About</a></li>
                            <li><a class="logout" href="login">Log Out</a></li>-->
                            <div class="closeMenu"></div>
                        </ul>
                    </div>
                </nav>
                    <h1 class="app-name">RALI</h1>
            </header>
            <h2>Friends</h2>
            <div class="tab-container">
                <button class="tablink" onclick="openTab('Competitions', this)" id="defaultOpen">Competitions</button>
                <button class="tablink" onclick="openTab('Activity', this)">Activity</button>
            </div>
            <div id="Competitions" class="tabcontent">
              <h1>Competitions</h1>
                {{#each competitions}}
                  <div class="task-list" id="{{id}}">
                    <div class="task-container">
                        <div class="task">You - {{yourScore}} vs. {{name}} - {{theirScore}}</div>
                    </div>
                </div>
                {{/each}}
            </div>

            <div id="Activity" class="tabcontent">
              <h1>Activity</h1>
                {{#each activity}}
                  <div class="task-list" id="{{id}}">
                    <div class="task-container">
                        {{#if completed}}
                          <div class="task">{{name}} completed their task! {{task}}</div>
                        {{else}}
                          <div class="task">{{name}} started a new task! {{task}}!</div>
                        {{/if}}
                    </div>
                </div>
                {{/each}}
            </div>
        <script src="js/app.js"></script>
        </body>
    </html>
    <!-- https://www.w3schools.com/howto/howto_js_tab_header.asp -->