<!DOCTYPE html>
    <html>
        <head>
            <title>Dashboard</title>
            <link rel="stylesheet" href="css/styles.css">
            <meta charset="utf-8">
            <script defer src="js/index.js"></script>
            <!-- <script src="handlebars-v4.7.6.js"></script> -->
            <script src="https://code.jquery.com/jquery.js"></script>
            <script src="/js/bootstrap.min.js"></script>
        </head>
        <body>
            <header>    
                <div class="menu-button">
                    <div class="menu-button-burger"></div>
                </div>
                <nav>
                    <div class="openMenu"></div>
                    <div class="menu-background">
                        <ul class="menu">
                            <li><a href="index">Dashboard</a></li>
                            <li><a href="addtask">Add Task</a></li>
                            <li><a href="friends">Friends</a></li>
                            <!--<li><a href="settings">Settings</a></li>
                            <li><a href="about">About</a></li>
                            <li ><a class="logout" href="login">Log Out</a></li>-->
                            <div class="closeMenu"></div>
                        </ul>
                    </div>
                </nav>
                <div class="app-name">RALI</div>
            </header>
            
            <h2>Dashboard</h2>
            <div class="progress-bar">
                <img src="./images/progress-bar.png" alt="Progress Bar" class="bar-image">
            </div>


            

            <div class="task-list-container">
                <div class="task-add-button-container">
                    <h1 class="tasks">Tasks</h1>
                    <a href="addtask"><div class="add-button">+</div></a>
                </div>

            <div class="tab-container">
                <button class="tablink" onclick="openTab('inProgress', this)" id="defaultOpen">In Progress</button>
                <button class="tablink" onclick="openTab('completed', this)">Completed</button>
            </div>



            <div class="task-list">
                <div id="inProgress" class="tabcontent">
                    {{#each tasks}}
                        {{#unless completed}}
                        <div class="task-list" id="{{id}}">
                            <div class="task-container">
                                <div class="task">{{name}}</div>
                                <button class="done-button" onclick="completeTask(id)" id="{{id}}">DONE</button>
                            </div>
                        </div>
                        {{/unless}}
                    {{/each}}
                </div>

                <div id="completed" class="tabcontent">
                    {{#each tasks}}
                        {{#if completed}}
                            <div class="task-list" id="{{id}}">
                                <div class="completed-task-container">
                                    <div class="completed-task">{{name}}</div>
                                </div>
                            </div>
                        {{/if}}
                    {{/each}}
                </div>
            </div>
                <script src="js/app.js"></script>
            </div>
        </body>
    </html>